*.pyc
output
build_submitter*
.idea
.DS_Store
bce_python_sdk.egg-info
build
dist
bce-python-sdk-**
bce_python_sdk_*
sample.log
.venv/*/
sample/aihc/job_config/*.sh
sample/aihc/job_config/*.json
.venv/pyvenv.cfg
.env
.qoder/*
scripts/*
